player-connection-mode=Listen
player-connection-guid=395763805
player-connection-debug=0
player-connection-project-name=Qyron
player-connection-ip=192.168.15.165
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a98ef5356e1b44a8a27ee8f30600e707
